.menu-right {
  margin-top: 20px; }

.nav-tabs {
  background: #eee;
  padding: 20px 10px 0;
  border-radius: 5px 5px 0 0; }

.small-dark-title {
  background: black;
  color: white;
  padding: 6px 12px;
  display: inline-block; }

.moollit-img img {
  max-width: 100%; }

.col-secondary {
  border: 1px solid #ccc;
  border-top: none;
  border-bottom: none; }

.bg-grey {
  background: #f5f5f5;
  padding: 0 10px 10px; }
