h5.small-dark-title A la une
.lead Suterw 
  span.text-muted | pelnsf le 24/10/2016
h2 Lorem Ipsum Dolor
p.text-muted  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto esse, voluptatum voluptatibus id dolore, alias repellendus nesciunt explicabo voluptates blanditiis cupiditate suscipit quaerat dolores iusto? Ratione reiciendis cum delectus ipsum.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum sit facere earum neque veniam necessitatibus vel consectetur debitis eum a cumque quisquam laudantium, qui praesentium perferendis aut dolore laborum vitae.

+tagblock()

hr

.row
  .col-sm-6
   .small-dark-title A la une
  .col-sm-6
    a(href="") Questo de mous
    span.text-muted  | peile 11/10/16

h2 Lorem Ipsum Dolor
p.text-muted  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto esse, voluptatum voluptatibus id dolore, alias repellendus nesciunt explicabo voluptates blanditiis cupiditate suscipit quaerat dolores iusto? Ratione reiciendis cum delectus ipsum.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum sit facere earum neque veniam necessitatibus vel consectetur debitis eum a cumque quisquam laudantium, qui praesentium perferendis aut dolore laborum vitae.

+tagblock()

article.moollit-img
  strong Suteres 
  span.text-muted  | publes 25/10/16

  h2 Mollit anim id est laborum

  p: img(src="http://placehold.it/560x350")
  p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi modi eos ducimus maiores quae ratione, tempora ipsam fugiat et labore, velit a odio reiciendis.

+tagblock()

article
  strong Suteres 
  span.text-muted  | publes 25/10/16

  h2 Mollit anim id est laborum

  p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi modi eos ducimus maiores quae ratione, tempora ipsam fugiat et labore, velit a odio reiciendis.

hr