h5.small-dark-title A la une
.lead Suterw 
  span.text-muted | pelnsf le 24/10/2016
h2 Lorem Ipsum Dolor
p.text-muted  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto esse, voluptatum voluptatibus id dolore, alias repellendus nesciunt explicabo voluptates blanditiis cupiditate suscipit quaerat dolores iusto? Ratione reiciendis cum delectus ipsum.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum sit facere earum neque veniam necessitatibus vel consectetur debitis eum a cumque quisquam laudantium, qui praesentium perferendis aut dolore laborum vitae.

.row.text-muted
  .col-sm-4
    .glyphicon.glyphicon-time
    |  1 day ago
  .col-sm-8
    .glyphicon.glyphicon-tags
    strong  Tags:
      a(href="")  lorem
      |,
      a(href="")  lorem
      |,
      a(href="")  lorem

hr

.row
  .col-sm-6
   .small-dark-title A la une
  .col-sm-6
    a(href="") Questo de mous
    span.text-muted  | peile 11/10/16

h2 Lorem Ipsum Dolor
p.text-muted  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto esse, voluptatum voluptatibus id dolore, alias repellendus nesciunt explicabo voluptates blanditiis cupiditate suscipit quaerat dolores iusto? Ratione reiciendis cum delectus ipsum.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum sit facere earum neque veniam necessitatibus vel consectetur debitis eum a cumque quisquam laudantium, qui praesentium perferendis aut dolore laborum vitae.

.row.text-muted
  .col-sm-4
    .glyphicon.glyphicon-time
    |  1 day ago
  .col-sm-8
    .glyphicon.glyphicon-tags
    strong  Tags:
      a(href="")  lorem
      |,
      a(href="")  lorem
      |,
      a(href="")  lorem

article
  strong Suteres 
  span.text-muted  | publes 25/10/16