aside
  article
    h2 Terir par Experteses
    ul
      li lorem porem
      li taram karam
      li carousel lorem
      li magnificent bear

  hr

  article.bg-grey
    .lead Webzine
    h4 GFRE4566

    p.text-muted Educadas
    p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus saepe, commodi reiciendis, assumenda.

  hr(style="border: none")

  article.bg-grey
    .lead Webzine
    h4 GFRE4566
    
    img.flex(src="http://placehold.it/400x200")

    p.text-muted Educadas
    p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus saepe, commodi reiciendis, assumenda.

  hr(style="border: none")

  article.bg-grey
    .lead Webzine
    h4 GFRE4566
    p.text-muted Educadas
    