article.bg-grey
  h4.small-dark-title Interviews
  .embed-responsive.embed-responsive-16by9
    <iframe width="560" height="315" src="https://www.youtube.com/embed/IDixJgx8my4" frameborder="0" allowfullscreen></iframe>
    h2 Well, do ya??
  p.text-muted  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nulla laborum fuga alias nobis, libero quisquam temporibus voluptatibus ipsam dignissimos.

  .row.text-muted
    .col-sm-6 leppsdf 12/12/12
    .col-sm-6 
      .glyphicon.glyphicon-user
        |  Peter

hr

article
  h4.small-dark-title Interviews

  +mediaobject()
  +mediaobject()
  +mediaobject()
  +mediaobject()
  
