mixin tagblock()
  .row.text-muted
  .col-sm-4
    .glyphicon.glyphicon-time
    |  1 day ago
  .col-sm-8
    .glyphicon.glyphicon-tags
    strong  Tags:
      a(href="")  lorem
      |,
      a(href="")  lorem
      |,
      a(href="")  lorem

mixin mediaobject()
  .media
    a.media-left(href="")
      img.img-circle(src="http://placehold.it/60x60" alt="image")
    .media-body
      h4.media-heading Media heading
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero voluptate assumenda aut vero quod minima officia a odio ducimus sequi facere.

mixin footerunit()
  .col-sm-2
    h4 Hello goodbye
    ul
      li one line
      li second line
      li third line
      li fourth line